

body{
    background-color: blue;
}
.square{
    height:150px;
    width: 150px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
}
.rectangle{
    height:150px;
    width: 500px;
    border: 2px solid red;
    background-color: crimson;
    display:inline-block ;
}
