body{
    background-image: url( "https://resources.pulse.icc-cricket.com/ICC/photo/2018/05/18/962fc711-4eba-4080-bc62-b0a03c1a044b/AB-de-Villiers.jpg");
    background-size:cover;
    background-repeat: none;
   
}